<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <input type="text" value="message">
    <button onclick="send()">send</button>


    <script>
      // 클라이언트와 개요파악
      // https://developers.google.com/web/fundamentals/codelabs/push-notifications?hl=ko#%EC%83%98%ED%94%8C_%EC%BD%94%EB%93%9C_%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C
      // 브라우저 서비스워커에 우리의 워커를 등록한다.
      
      async function send() {
        // 서버로부터 내려받자.
        
      }
    </script>
  </body>
</html>
